@font-face{
    font-family: secular-one;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}
@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-black;
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}




*{
    margin: 0;
    padding: 0;
    font-family: poppins-regular, sans-serif;
    box-sizing: border-box;
    color: #fdfefe;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
body {
    background: linear-gradient(-135deg, #212b3d 0%, rgb(28, 30, 41) 100%) no-repeat;
    min-height: 200vh;
}

/* navigation */
nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fdfefe;
    border-bottom: #fdfefe81 3px solid;
    background: #00000041;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 999;
}
nav a {
    text-decoration: none;
}
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.logo {
    font-size: 30px;
    text-transform: uppercase;
    font-family: secular-one, sans-serif;
    display: flex;
    align-items: center;
}
.logo span {
    -webkit-text-stroke: #fdfefe 0.7px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 40px;
    font-family: poppins-black, sans-serif;
}
@media screen and (max-width: 500px) {
    .logo {
        font-size: 20px;
    }
    .logo span {
        font-size: 30px;
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu li a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fdfefe;
    font-size: 20px;
    transition: all 0.3s ease;
}
.menu li a:hover {
    color: #fdfefe90;
    text-shadow: 1px -1px #fdfefe;
}
@media screen and (max-width: 900px) {
    .navigation-container {
        padding: 0 10px;
    }
    .menu {
        display: grid;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 100%;
        background: #0d0d0d;
        padding: 30px 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }
    .drop-active {
        top: 103%;
        opacity: 1;
    }
    .menu-item{
        margin: 20px auto;
    }
    .menu-toggle {
        width: fit-content;
        height: fit-content;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .bar {
        width: 35px;
        height: 3px;
        background: #fdfefe;
        border-radius: 10px;
        display: block;
        margin: 6px auto;
        transition: all ease-in-out 0.4s;
    }
    .toggle-active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .toggle-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}
@media screen and (max-width: 900px) and (orientation: landscape){
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



/* card swiper styles */
.swiper {
    height: 700px;
    margin: 20px 0;
    width: 95%;
    position: relative;
}
.swipe-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 50px;
    font-size: 20px;
    background: #0d0d0d90;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1313;
    
    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}
.swiper-slide img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* button designs */
.button-default {
    text-decoration: none;
    background: #0d0d0d90;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: background 0.3s ease;
}
.button-default:hover {
    background: #0d0d0d;
}


/* blog section */
.blog-excepts {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blog-excepts .upcoming-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    overflow: hidden;
    margin: 20px auto;
}
.blog-excepts .upcoming-banner .left {
    background: url(../images/akatsuki-background.jpg) #0d0d0d70 center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 20px;
    padding: 20px 0;
}
.blog-excepts .upcoming-banner .left .title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: secular-one, sans-serif;
    border-bottom: 2px solid;
}
.blog-excepts .upcoming-banner .left .content,
.blog-excepts .upcoming-banner .left .timer {
    width: 80%;
    font-size: 20px;
}
.blog-excepts .upcoming-banner .left .button-default {
    background: #57555580;
    transition: background 0.3s ease;
    border: 2px solid #fdfefe70;
    font-size: 20px;
}
.blog-excepts .upcoming-banner .left .button-default:hover {
    background: #575555;
}
.blog-excepts .upcoming-banner .right {
    width: 60%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 20px;
}
.blog-excepts .upcoming-banner .right img {
    object-fit: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: scale 0.3s ease;
    opacity: 0.8;
}
.blog-excepts .upcoming-banner .right img:hover {
    scale: 1.1;
}

@media screen and (max-width: 900px){
    .blog-excepts {
        padding: 10px;
        height: 40vh;
    }
    .blog-excepts .upcoming-banner {
        margin: 5px auto;
    }
    .blog-excepts .upcoming-banner .left .title {
        font-size: 15px;
    }
    .blog-excepts .upcoming-banner .left .content {
        display: none;
    }
    .blog-excepts .upcoming-banner .left .button-default {
        font-size: 14px;
        padding: 5px;
    }
}


/* featured section with cards */
.featured-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around; 
    width: 90%;
    position: relative;
    margin: auto;
}

/* cards section */
.card-section-container .section-title{
    font-size: 30px;
    font-family: secular-one, sans-serif;
    margin-top: 30px;
    position: relative;
}
.card-section-container .section-title::after{
    content: "";
    width: 300px;
    height: 3px;
    background: #fdfefe;
    display: block;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}
.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card-section .card {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    border: solid;
    transition: scale 0.4s ease;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}
.card-section .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    background: black;
}
.card-section .card .card-content {
    padding: 10px;
    text-transform: uppercase;
}
.card-section .card .hover-content {
    position: absolute;
    background: #00000041;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    opacity: 0;
}
.card-section .card:hover .hover-content {
    scale: 1;
    opacity: 1;
}

/* rank table */
.rank-section {
    display: grid;
    grid-template-columns: auto;
    margin: 10px auto;
    width: 100%;
}
.rank-section .title {
    text-align: center;
    font-size: 25px;
}
.rank {
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    margin: 5px auto;
    transition: scale 0.3s ease;
    border: solid 1px transparent;
    text-decoration: none;
    box-shadow: #fdfefe 2px 2px 5px;
}
.rank:hover {
    scale: 1.02;
    border: #fdfefe solid 1px;
}
.rank:nth-child(odd){
    background: #212b3d;
}
.rank:nth-child(even) {
    background: #575555;
}
@media screen and (max-width: 700px){
    .card-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 900px){
    .featured-cards {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 529px) {
    .featured-cards {
        flex-direction: column-reverse;
    }
    .card-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 20px;
    }
}