@font-face{
    font-family: secular-one;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}
@font-face {
    font-family: poppins-regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppins-black;
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: poppins-regular, sans-serif;
    box-sizing: border-box;
    color: #fdfefe;
}
body {
    background: linear-gradient(175deg, red 0%, black 100%) no-repeat;
    min-height: 120vh;
}

/* navigation */
nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fdfefe;
    border-bottom: #fdfefe81 3px solid;
    background: #00000041;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 999;
}
.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.logo {
    font-size: 30px;
    text-transform: uppercase;
    font-family: secular-one;
    display: flex;
    align-items: center;
}
.logo span {
    -webkit-text-stroke: #fdfefe 0.7px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 40px;
    font-family: poppins-black;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu li a {
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fdfefe;
    font-size: 20px;
    transition: all 0.3s ease;
}
.menu li a:hover {
    color: #fdfefe90;
    text-shadow: 1px -1px #fdfefe;
}
@media screen and (max-width: 900px) {
    .navigation-container {
        padding: 0 10px;
    }
    .menu {
        display: grid;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 100%;
        background: #0d0d0d;
        padding: 30px 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }
    .drop-active {
        top: 103%;
        opacity: 1;
    }
    .menu-item{
        margin: 20px auto;
    }
    .menu-toggle {
        width: fit-content;
        height: fit-content;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .bar {
        width: 35px;
        height: 3px;
        background: #fdfefe;
        border-radius: 10px;
        display: block;
        margin: 6px auto;
        transition: all ease-in-out 0.4s;
    }
    .toggle-active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    .toggle-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}
@media screen and (max-width: 900px) and (orientation: landscape){
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



/* card swiper styles */
.swiper {
    height: 700px;
    margin: 20px 0;
    width: 95%;
    position: relative;
}
.swipe-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 50px;
    font-size: 20px;
    background: #0d0d0d90;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #1313;
    
    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.swiper-slide img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* button designs */
.button-default {
    text-decoration: none;
    background: #0d0d0d90;
    padding: 10px;
    margin: 10px;
}